:root {
	--tooltip_bg: grey;
	--arrow-size: 7px;	
}
.collection,
.twitter-btn,
.insta-btn,
.link-btn,
.close-btn {
    position: relative;
}
.page-end-1::before,
.page-end-2::before,
.collection::before,
.twitter-btn::before,
.insta-btn::before,
.link-btn::before,
.close-btn::before {
    position: absolute;
    top: -.3em;
    left: 35%;
    transform: translateX(-50%) translateY(-100%) scale(0);
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    border-radius: 3px;
    transform-origin: bottom center;
    transition: all 0.5s;

    content: attr(data-tooltip);
    background: var(--tooltip_bg);
    color:var(--icons_color);
    padding: .5em;
    width: max-content;
}
.page-end-1.visible:hover::before,
.page-end-2.visible:hover::before,
.collection:hover::before,
.twitter-btn:hover::before,
.insta-btn:hover::before,
.link-btn:hover::before,
.close-btn:hover::before  {
    transform: translateX(-50%) translateY(-100%) scale(1);
}
.page-end-1.visible:hover::after,
.page-end-2.visible:hover::after,
.collection:hover::after,
.twitter-btn:hover::after,
.insta-btn:hover::after,
.link-btn:hover::after,
.close-btn:hover::after {
    opacity: 1;
}
.page-end-1::after,
.page-end-2::after,
.collection::after,
.twitter-btn::after,
.insta-btn::after,
.link-btn::after,
.close-btn::after {
    content: '';
    border: var(--arrow-size) solid transparent;
    border-top-color: var(--tooltip_bg);
    position: relative;
    top: 0;
    left: -20px;
    transform-origin: top center;
    opacity: 0;
    transform: translateX(-50%) translateY(-100%) scale(0);
}
.collection::before {
    top: -2em;
    left: 42%;
}
.collection::after  {
    top: -7px;
    left: -18px;
} 
.link-btn::before,
.close-btn::before {
    top: -0.6em;
    left: 38%;
}
.twitter-btn::before,
.insta-btn::before {
    top: -0.6em;
    left: 34%;
}
.twitter-btn::after,
.insta-btn::after,
.link-btn::after,
.close-btn::after {
    top: -9px;
    left: -15px;
} 