/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light");

:root {
	--main_color: rgba(0, 0, 0, 1);
	--main_text: rgba(255, 255, 255, 1);
	--half_opaque_black: rgba(0, 0, 0, 0.5);
	--popup_text: rgba(255, 255, 255, 0.8);
	--icons_color: rgba(255, 255, 255, 1);
	--input_focus_search: rgba(0, 0, 0, 0.3);
	--footer_color: rgba(233, 233, 233, 0.5);
	--error_message_text: rgb(33, 33, 33);
	--error_message_bg: rgb(175, 122, 32);
	
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: var(--main_color);
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif;
} 

/* nav-bar */

nav {
	position: absolute;
	top: 12px;

	width: 100vw;
	height: 100px;
	padding: 0 40px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	animation: nav-slide-down 1.5s linear;
}

@keyframes nav-slide-down {
	0% { top: -100px;}
	100% { top: 15px;}
}

nav #home {
	font-size: 36px;
	color: var(--main_text);
	opacity: 0.5;
	padding: 0 30px;
	transition: opacity 0.5s;
}
nav #home:hover {
	opacity: 1;
}
nav ul {
	display: flex;
	justify-content: space-around;
	margin: 10px 15px 0 0;
	padding-top: 5px;
}
nav ul li {
	list-style: none;
	font-size: 36px;
	padding: 0 20px;
	color: var(--main_text);

	opacity: 0.5;
	transition: opacity 0.5s;
}
nav ul li:hover {
	opacity: 1;
}
nav ul li a {
	color: var(--main_text);
}
nav ul #read-me {
	/* font-family: 'Poppins', sans-serif; */
	font-size: 18px;
	letter-spacing: 2px;
	padding-top: 3px;

	animation: animate 2s ease-out 3s;
	cursor: pointer;
}
nav ul #link-ref {
	margin-right: 25px;
}
@keyframes animate {
	0%{ opacity: 0.5;}
	25%{ opacity: 1;}
	50%{ opacity: 0.5;}
	75%{ opacity: 1;}
	100%{ opacity: 0.5;}
}

nav ul #link-ref {
	position: relative;
	top: -4px;
	margin-right: 10px;
} 

/* header : background photo */

.header-section {
	position: relative;
	width: 100vw;
	height: 90vh;
	z-index: 0;

	text-align: center;
	/* background-image:url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80'); */
	background-image: url("https://images.unsplash.com/photo-1490604001847-b712b0c2f967?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1853&q=80");
	background-size: cover;
	background-position: top;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.header-content {
	margin-bottom: 100px;
}
.logo {
	font-size: 90px;
	font-weight: 400;
	padding-right: 10px;
	color: var(--main_text);
	text-transform: capitalize;
	user-select: none;
	text-shadow: rgba(0, 0, 0, 0.2) 1.95px 1.95px 2.6px;
}

.sub-line {
	font-size: 18px;
	font-weight: 300;
	color: var(--main_text);
	padding: 20px 0 10px 0;
	padding-right: 10px;
	text-transform: capitalize;
	word-spacing: 2px;
	letter-spacing: 2px;
	text-shadow: rgba(0, 0, 0, 0.2) 1.95px 1.95px 2.6px;

	position: relative;

	user-select: none;
}

.sub-line::after {
	content: "";
	max-width: 60%;
	width: 350px;
	height: 1px;
	background: var(--main_text);

	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, 
				rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.sub-line::before {
	content: "";
	width: 10px;
	height: 10px;
	background: var(--main_text);

	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
	
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, 
				rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	z-index: 1;
}

.search-box {
	display: block;
	max-width: 550px;
	width: 100%;
	height: 40px;

	margin: 60px auto 30px auto;
	padding: 10px;

	border: none;
	border-radius: 5px;
	outline: none;

	text-transform: capitalize;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, 
				rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.search-box:focus {
	border: 2px solid rgba(0, 0, 0, 0.6);
}
input::placeholder {
	letter-spacing: 1px;
}
form {
	position: relative;
	display: flex;
}
#search-icon {
	position: absolute;
	right: 10px;
	top: 52%;

	font-size: 24px;
	color: var(--half_opaque_black);
}
.header-section::before {
	content: '';
	width: 100vw;
	height: 100%;
	background: radial-gradient(
		rgba(0,0,0,0) 2%,
		rgba(0,0,0,0.1) 40%,
		rgba(0,0,0,0.2) 60%,
		rgba(0,0,0,0.3) 80%,
		rgba(0,0,0,0.4) 100%
	);

	position: absolute;
	bottom: 0;
}

/* gallery */

.gallery::before {
	content: "";
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(30px);
	
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;

	display: block;
}
.gallery {
	width: 100vw;
	height: auto;
	padding: 15px 30px 40px 15px;
	columns: 5;
	column-gap: 20px;
}
.gallery.hide::before {
	display: none;
	opacity: 0;
}
@media (max-width: 600px) {
	.search-box {
    width: 80%;
	}
	.sub-line {
    font-size: 15px;
	}
	.logo {
    font-size: 75px;
	}
	#search-icon {
    right: 45px;
	}
}
@media (max-width: 500px) {
	.gallery {
    columns: 1;
	}
	#search-icon {
    right: 50px;
	}
	.info {
		font-size: 9px;
	}
	.header-section {
		height: 70vh;
	}
}
@media (min-width: 501px) {
	.gallery {
    columns: 2;
	}
}
@media (min-width: 601px) {
	.gallery {
    columns: 3;
	}
}
@media (min-width: 800px){
	.gallery {
		columns: 4;
		}
}
@media (min-width: 1200px) {
	.gallery {
    columns: 5;
	}
}

/* elements created by javascript*/
.item {
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	transition: all 0.5s ease;
	vertical-align: top;
	object-fit: cover;
	margin-bottom: 1em;
	border: 1px solid rgba(255, 255, 255, 0);
}
.item:hover {
	border: 1px solid rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.2);
}
.item:hover h2 { /*Photographer name on hover*/
	opacity: 1;
}
h2 { /*Photographer name*/
	width: 100%;
	padding: 40px 20px 15px 20px;
	position: absolute;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.6), 
										rgba(0, 0, 0, 0));
	color: rgba(255, 255, 255, 0.8);
	bottom: 0;
	font-size: 13px;
	letter-spacing: 2px;
	transition: opacity 0.5s;
	opacity: 0;
	cursor: pointer;
}
.item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	vertical-align: top;
	user-select: none;
	cursor: pointer;
}

/* pop-up elements*/

.popup-bg {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: 80vh;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	overflow: hidden;
	transition: all 0.5s;
	opacity: 1;
}
.popup-bg.hide {
	display: none;
	opacity: 0;
}

/*pop-up light-box elements : social media icons */

.social-media-wrap {   
    width: 100%;
    position: absolute;
    top: 0;
	
    display: flex;
    justify-content: center;
	align-items: baseline;
}
/*profile photo thumb-nail */

#thumb-nail { 
	width: 40px;
	height: 40px;
	background: rgb(109, 109, 109);
	margin: 0 10px;
	border-radius: 50%;

	position: relative;
	bottom: 8px;

	border: 2px solid rgba(255, 255, 255, 0.3);
	vertical-align: top;
	cursor: pointer;

	overflow: hidden;
	transition: all 0.5s;
}
#thumb-nail:hover {
	border: 2px solid rgba(255, 255, 255, 0.8);
	box-shadow: rgba(225, 225, 225, 0.2) 0px 2px 8px 0px;
}
/* social media icons*/
.social-media-wrap a:nth-child(2),  
.social-media-wrap a:nth-child(3),  
.social-media-wrap a:nth-child(4),  
.social-media-wrap a:nth-child(5) { 
    color: var(--icons_color);
    font-size: 18px;
	opacity: 0.5;
    padding: 8px;
    margin: 6px ;

	cursor: pointer;
	transition: all 0.5s;

}
.social-media-wrap a:hover {
	opacity: 1;
}
.social-media-wrap .close-btn,
.social-media-wrap .link-btn {
	font-size: 20px;
	position: relative;
	top: 3px;
}
ion-icon:before { 
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}
img[alt] {
	color: var(--popup_text);
	font-size: 10px;
	letter-spacing: 2px;
}


/* pop-up: contents */

.large-img {
	height: 80%;
	width: auto;
	max-width: 80%;

	object-fit: cover;
	border-radius: 10px;
	border: 1px solid var(--main_text);
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);

	overflow: hidden;
	cursor: pointer;
	user-select: none;

	transition: all 0.5s;
}

.info-container {
	position: relative;
	margin: 0 auto;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	align-items: center;
}
.info {
	position: absolute;
	bottom: 0;
	z-index: 3;

	width: 100%;
	margin-top: 5px;
	padding: 30px 0 10px 0;

	font-family: "Poppins", sans-serif;
	font-size: 13px;
	font-weight: 100;
	letter-spacing: 2px;
	text-align: center;
	color: var(--popup_text);
	text-transform: capitalize;
}
@media only screen and (max-width: 550px) {
	.info {
		font-size: 10px;
	}
}

/* slide arrows : 'pre/next' icons */

.pre-btn,
.next-btn {
	position: absolute;
	z-index: 1;

	font-size: 35px;
	padding: 6px 10px;
	color: var(--popup_text);
	opacity: 0;

	cursor: pointer;
	user-select: none;
	transition: all 0.5s;
}
.pre-btn.visible,
.next-btn.visible {
	opacity: 0.5;
}
.pre-btn {
	left: -20px;
}
.next-btn {
	right: -20px;
}
.pre-btn.visible:hover,
.next-btn.visible:hover {
	opacity: 1;
}


/* slide : 'end-page' icons*/

.page-end-1, 
.page-end-2 {
	position: absolute;
	top: 47.7%;

	/* color: var(--popup_text); */
	color: var(--popup_text);
	opacity: 0;
	font-size: 26px;
	transition: all 0.5s;

	z-index: 0;
	cursor: default;
}
.page-end-1 {
	left: 0px;
}
.page-end-2{
	right: 0px;
}
.page-end-1.visible,
.page-end-2.visible {
	opacity: 0.5;
}

/* footer */
footer {
	width: 100vw;
	min-height: 500px;
	height: auto;
	display: flex;
	flex-direction:column;
	justify-content:flex-end;
	align-items: center;
	padding-bottom: 60px;
	color: var(--footer_color);
}
footer > a {
	padding: 70px 0;
}
footer span {
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	padding: 5px 20px;
	letter-spacing: 2px;
	text-transform: capitalize;
}
#unsplash {
	position: relative;
	left: -14px;
	top: -10px;
	font-size: 13px;
	letter-spacing: 1.5px;
	text-decoration: none;
	color: var(--footer_color);
}
#unsplash:hover {
	opacity: white;
}
footer q {
	font-size: 50px;
	padding: 60px 10px;
	font-family: 'Shadows Into Light', cursive;
	letter-spacing: 4px;
	text-align: center;
}

footer q::after {
	content: "";
	max-width: 100%;
	width: 2500px;
	height: 1px;
	margin-top: 130px;
	background: var(--footer_color);

	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
footer span {
	position: relative;
	right: 0px;
	bottom: 5px;
}

@media (max-width: 780px) {
	footer q {
		text-align: center;
		margin-right: 20px;
		padding: 100px 50px;
	}
	footer .credits {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
} 
.material-symbols-outlined {
	margin-right: 0;
	padding-right: 0;
}





