.search-container {
	width: 80%;
	height: 100px;
	margin: 30px auto 20px auto;
	padding: 30px 40px;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.search-input {
	width: 100%;
	height: 40px;

	border-radius: 5px;
	border: none;
	outline: none;

	padding: 20px;
	text-transform: capitalize;
}
.search-input:focus {
	border: 2px solid var(--input_focus_search);
}
.search-icon-box .sub-line-2 {
	display: block;
	color: var(--icons_color);
	opacity: 0.8;
	font-size: 13px;
	padding: 10px 0;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	text-transform: capitalize;
	letter-spacing: 2px;
}
/* home icon */
.home-icon .material-icons {
	font-size: 36px;
	color: var(--icons_color);
	padding: 4px 0 0 0;
	opacity: 0.5;

	transition: all 0.5s;
	user-select: none;

	position: relative;
	top: 18px;
}
.home-icon .material-icons:hover {
	opacity: 1;
}
.search-icon-box {
	width: 100%;
	position: relative;
}
#search-icon {
	position: absolute;
	top: 40px;
	right: 8px;

	font-size: 30px;
	color: rgba(0, 0, 0, 0.5);
	
	transition: all 0.5s;
}
@media (max-width: 600px)  {
	.search-container {
    width: 100%;
	}
}
.error-message {
	display: inline;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	letter-spacing: 2px;
	padding: 10px 20px;
	border-radius: 8px;
	background-color: var(--error_message_bg);
	opacity: 0;
	color: var(--error_message_text);

	position: absolute;
	top: 105px;
	left: 85px;

	transform-origin: top center;
	transition: all 0.5s;
}
.error-message::before {
	content: '';
	border: 10px solid transparent;
	border-bottom-color: var(--error_message_bg);
	
	opacity: 0;
	position: relative;
	top: -35px;
}


