*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* landing page */

.header-section{
  width: 100vw;
  height: 70vh;
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1431032843361-ec2cd229c751?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
  background-size:cover;
  background-position:top;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo{
  font-size: 80px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
}

.sub-line{
  color: #fff;
  padding: 20px 0 30px 0;
  font-size: 20px;
  text-transform: capitalize;
  word-spacing: 2px;
  position: relative;
  font-weight: 300;
}

.sub-line::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 1px;
  background: #fff;
}

.sub-line::before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
}

.search-box{
  display: block;
  margin: 60px auto 30px auto;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  border: none;
  outline: none;
  text-transform: capitalize;
}

.search-btn{
  padding: 10px 30px;
  border-radius: 5px;
  text-transform: capitalize;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.8);
}

input::placeholder {
  letter-spacing: 1px;
}

/* gallery */

.gallery {
  width: 100%;
  height: auto;
  padding: 40px;
  background: #222;
  columns: 5;
  column-gap: 20px;
  transition: all 0.5s;
}
@media only screen and (max-width: 600px) {
  .search-box {
    width: 80%;
  }
  .sub-line {
    font-size: 15px;
  }
  .logo {
    font-size: 50px;
  }
}
@media only screen and (max-width: 500px) {
  .gallery {
    columns: 1;
  }
}
@media only screen and (min-width: 501px) {
  .gallery {
    columns: 3;
  }
}
@media only screen and (min-width: 1000px) {
  .gallery {
    columns: 5;
  }
}



/* @media (min-width: 601px ){
  .gallery {
    columns: 3;
  }
}
@media (max-width: 600px ){
  .gallery {
    columns: 1;
  }
} */











/* ------------------------------- */
/* from photo gallery project */

.item {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s ease;
  vertical-align: top;
  margin-bottom: 1em;
  object-fit: cover;
}
.item:hover {
  box-shadow: 0 0 5px 3px rgba(0,0,0,0.3);
}
h2 {
  width: 100%;
  padding: 20px;
  position: absolute;
  background: rgba(0,0,0,0.3);
  color: rgba(255,255,255, 0.6);
  bottom: 0;
  font-size: 0.8rem;
  letter-spacing: 2px;
  transition: opacity 0.5s;
  opacity: 0;
}
.item:hover h2 {
  opacity: 1;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

/* ------------------------------- */





.gallery-img {
  width: 100%;
  object-fit: over;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  background: grey;
}


.image-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80vh;
  background: rgba(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.image-popup.hide {
  display: none;
  opacity: 0;
}
.close-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  background: rgb(153, 0, 255);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}
.close-btn:hover {
  transform: scale(1.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.close-btn:active {
  transform: scale(1.2);
  background: rgb(153, 0, 255, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.download-btn {
  text-transform: capitalize;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ddd;
  text-decoration: none;
}
.large-img {
  height: 80%;
  width: auto;
  max-width: 80%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.pre-btn, .next-btn {
  position: absolute;
  padding: 8px;
  transition: all 0.5s;
  opacity: 0.5;
  font-size: 50px;
}
.pre-btn {
  left: 10px;
}
.next-btn {
  right: 10px;
}
.pre-btn:hover {
  transform: scale(1.5);
}

.next-btn:hover {
  transform: scale(1.5);
}

